<a href="https://colab.research.google.com/github/CMGObiri/Python/blob/main/Connect_Python_to_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#pip install mysql.connector

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE CMG")

InterfaceError: ignored

In [4]:
import mysql.connector
mydb=mysql.connector.connect(host="localhost",
                            user="root",
                            password="",
                             database="morrisobiri"
                            )
#print(mydb)
mycursor=mydb.cursor()
#mycursor.execute("CREATE TABLE Patient (P_Name varchar(100), DateofBirth varchar(50))")
sql = "INSERT INTO Patient(ID, P_Name, DateofBirth, Phonenumber) values (%s, %s,%s,%s)"  
values = [(" ","Jane", "02-27-1980", "817-500-5587"),
         (" ","Peter", "01-23-1998", "214-365-3766"),
          (" ","Rose", "05-23-2008", "682-365-3766"),
         (" ","Lucas", "01-23-1988", "214-099-3766"),
         (" ","Jaque", "09-11-1986", "903-365-3766"),
         (" ","Amir", "07-08-2016", " "),
        (" ","James", "01-01-1983", "214-574-8458"),
        (" pppp","Judy", "05-01-1984", "473-365-3766"),
        ("tttt","Wesley", "03-01-2009", "142-859-4589")]
mycursor.executemany(sql,values)
mydb.commit()
print(mycursor.rowcount, "record inserted")
#for morris in mycursor:
   # print(morris)

InterfaceError: ignored

In [ ]:
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM Patient")
myresults = mycursor.fetchall()

for morris in myresults:
 print(morris)

(1, 'Morris', '02-27-1990', '817-500-3446')
(2, 'Jane', '02-27-1980', '817-500-5587')
(3, 'Peter', '01-23-1998', '214-365-3766')
(4, 'Rose', '05-23-2008', '682-365-3766')
(5, 'Lucas', '01-23-1988', '214-099-3766')
(6, 'Jaque', '09-11-1986', '903-365-3766')
(7, 'Jane', '02-27-1980', '817-500-5587')
(8, 'Peter', '01-23-1998', '214-365-3766')
(9, 'Rose', '05-23-2008', '682-365-3766')
(10, 'Lucas', '01-23-1988', '214-099-3766')
(11, 'Jaque', '09-11-1986', '903-365-3766')
(12, 'Amir', '07-08-2016', ' ')
(13, 'James', '01-01-1983', '214-574-8458')
(14, 'Judy', '05-01-1984', '473-365-3766')
(15, 'Wesley', '03-01-2009', '142-859-4589')